@model WebChat.Models.ChatRoom

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ChatRoom</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ChatRoomName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ChatRoomName)
        </dd>

   </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ChatRoomId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
